header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1030;
    background-color: #fff;
}

.nav-tabs {
    display: flex;
}

header img {
    width: 20%;
    height: 80px;
    margin-right: 20px;
}

.menu-bar {
    font-size: 30px;
    display: none;
    cursor: pointer;
    width: 10%;
}

.portfolio-tab {
    position: relative;
}

.dropdown-menu {
    text-align: right;
    position: absolute;
    top: 25px;
    width: 250px;
    right: 0;
    background-color: #fff;
    padding: 10px;
    margin-right: 0;
}



header a {
    color: #000;
    text-decoration: none;
    margin-right: 20px;
}

#eyeem {
    color: #fff;
    background-color: black;
    padding: 1px 5px;
    border-radius: 2px;
}

@media only screen and (max-width: 992px) {
    header img {
        width: 50%;
        height: 100px;
    }

    .menu-bar {
        display: block;
    }

    #nav-tab {
        display: none;
        padding: 20px;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #fff;
        width: 40%;
    }
}